h1 thông tin người thuê

ul
	li="User id: " + user.id
	li="User: " + user.name 	
	li= "Age: " + user.age
	li= "Email: " + user.email
	li= "Password: " + user.password	
	li= "Admin/user: " + user.isAdmin

			
           
